@import "@fontsource/material-icons";

header {
  z-index: 1000;
  position: fixed;
  display: flex;
  top: 0;
  padding: 30px;
  height: 30px;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;

  transition: $default-transition;
  & > .row {
    & .material-icons {
      font-size: 24px;
      user-select: none;
      line-height: 2em;
      transition: $default-transition;
    }
    & > #homelink {
      & > #hometext {
        transition: $default-transition;
      }

      & > #logo {
        width: 25px;
        height: 25px;
        background-color: $foreground-primary;
        mask-size: contain;
        // -webkit-mask-size: contain;
        mask-image: url("/img/logo.svg");
        // -webkit-mask-image: url("/img/logo.svg");
        transition: $default-transition;
      }
    }
  }

  &.scrolled {
    background-color: $foreground-primary;
    padding: 20px;
    & > .row {
      & .material-icons {
        color: $background-primary;
      }
      & > #homelink {
        & > #logo {
          background-color: $background-primary;
        }
        & > #hometext {
          color: $background-primary;
        }
      }
      & > a {
        color: $background-primary;
        &::after {
          background-color: $background-primary;
        }
      }
    }
    & > #gradient {
      opacity: 0;
    }
  }
}

#gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: -1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  transition: $default-transition;
  pointer-events: none;
  user-select: none;
}

// mobile displays
@media only screen and (max-width: 768px) {
  header {
    font-size: 0.9em;
    & > .row > #homelink > #logo {
      width: 20px;
      height: 20px;
    }
  }
}
