$scrollbar-offset-x: 12px;
$thumb-size: 5px;
$scrollbar-height: 250px;

#scrollbar {
	position: fixed;
    top: 50%;
    right: $scrollbar-offset-x;
    transform: rotate(90deg);
    
    & > #container {
        position: relative;
        right: $scrollbar-offset-x;
        transform: translate(-50%, -50%);

        & > #track {
            position: absolute;
            width: $scrollbar-height;
            height: 1px;
            background: $foreground-primary;
            transform: translateY(-50%);
        }
        
        & > #thumb {
            right: 10px;
            position: absolute;
            width: $thumb-size;
            height: $thumb-size;
            background: $foreground-primary;
            transform: translateY(-50%);
        }
    }
	
}
