$foreground-primary: #ffffff;
$foreground-secondary: #c0c0c0;
$background-primary: #000000;
$background-secondary: #1a1a1a;
$background-tertiary: #2f2f2f;
$accent: #ff3e00;

$default-transition: all 0.2s ease;
